<div class="container my-4">
    <div class="row justify-content-center">
        <div
            class="col-sm-12 col-md-12 col-lg-8 d-flex justify-content-between align-items-center"
        >
            <span class="word-spacing"
                >Copyright &copy; 2024 | All rights reserved.</span
            >
            <div class="d-flex justify-content-center my-3">
                <a
                    href="https://www.instagram.com/banda_bekaar"
                    class="mx-2 link-body-emphasis"
                >
                    <i class="bi bi-instagram fs-5"></i>
                </a>
                <a
                    href="https://github.com/bekaarcoder"
                    class="mx-2 link-body-emphasis"
                >
                    <i class="bi bi-github fs-5"></i>
                </a>
                <a
                    href="https://twitter.com/banda_bekaar"
                    class="mx-2 link-body-emphasis"
                >
                    <i class="bi bi-twitter-x fs-5"></i>
                </a>
            </div>
        </div>
    </div>
</div>
