<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-8">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/"> {{ site.title }} </a>
                <ul class="navbar-nav mb-lg-0 me-auto">
                    <li class="nav-item">
                        <button class="btn btn-sm" onclick="toggleTheme()">
                            <i
                                class="bi bi-brightness-high text-warning"
                                id="theme-toggle"
                            ></i>
                        </button>
                    </li>
                </ul>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav mb-2 ms-auto mb-lg-0">
                        {% for page in site.pages %} {% if page.title %} {%
                        unless page.title contains 'Category' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{page.url}}"
                                >{{page.title}}</a
                            >
                        </li>
                        {% endunless %} {% endif %} {% endfor %}
                        <!-- <li class="nav-item">
                            <button
                                class="btn btn-sm mt-1 ms-2"
                                onclick="toggleTheme()"
                            >
                                <i
                                    class="bi bi-brightness-high text-warning"
                                    id="theme-toggle"
                                ></i>
                            </button>
                        </li> -->
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
