---
layout: 'wrapper'
---

<div class="row mt-4 justify-content-center">
    <div class="col-md-8">
        <section class="small-intro mb-4">
            <div
                class="category-cover d-flex align-items-center justify-content-center"
            >
                <h2 class="display-1 text-white">
                    {{page.category | capitalize}}
                </h2>
            </div>
        </section>
        <section class="blog">
            {% for post in site.posts %} {% if post.categories contains
            page.category %}

            <div class="title-excerpt">
                <h2>
                    <a
                        href="{{ post.url }}"
                        class="link-body-emphasis link-underline-opacity-0 link-underline-opacity-50-hover"
                        >{{ post.title }}</a
                    >
                </h2>
            </div>
            <div class="date">
                <p class="text-secondary">{{ post.date | date_to_string }}</p>
            </div>
            {% endif %} {% endfor %}
        </section>
    </div>
</div>
