---
layout: 'wrapper'
---

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-8">
        <h1 class="mb-4">{{ page.title }}</h1>
        {% for category in site.categories %}

        <a
            href="/categories/{{category[0]}}"
            class="btn btn-outline-secondary position-relative me-4 my-2"
        >
            {{category | first | capitalize}}
            <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            >
                {{ category | last | size }}
                <span class="visually-hidden">Blog Count</span>
            </span>
        </a>
        {% endfor %}
    </div>
</div>
