---
layout: 'wrapper'
---

{% for post in site.posts %}
<h1>
    <a href="{{site.baseurl}}{{post.url}}" class="text-decoration-none"
        >{{ post.title }}</a
    >
</h1>
<p>{{ post.date | date: ' %B %d, %Y' }}</p>
{% endfor %}

<!-- <br />

{% for city in site.data.cities %}
<p>{{city.name}} - {{city.country}}</p>
{% endfor %} -->

{% for category in site.categories %}
<p>
    <a href="{{site.baseurl}}/categories/{{category | first | slugify}}"
        >{{category | first | capitalize}} ({{ category | last | size }})</a
    >
</p>
{% endfor %}
